{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true,
    "jest": true
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "no-use-before-define": ["error", {"functions": false}],
    "no-console": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off"
  }
}
